---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { Input } from '@/components/ui/input'
import { Label } from '@/components/ui/label'
import { Textarea } from '@/components/ui/textarea'
import Layout from '@/layouts/Layout.astro'
---
<Layout class="max-w-3xl">
  <PageHead slot="head" title="projects" />
  <!-- <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} /> -->
  <section>
    <div class="min-w-full">
      <h1></h1>
      <form
        id="contact-form"
        class="flex flex-col gap-2"
      >
        <Label>name or contact</Label>
        <Input name="name" className="bg-white" placeholder="(optional)" />
        <Label className="mt-4">message</Label>
        <Textarea
          className="bg-white"
          name="message"
          placeholder="tell me something I don't know..."
          required
          rows={8}
        />
        <button
          id="submit-btn"
          class={buttonVariants({
            variant: 'static',
            size: 'sm',
          }) + ' mt-2 self-end'}
          type="submit">send</button
        >
      </form>
    </div>
  </section>

  <!-- Toast Notification -->
  <div 
    id="toast" 
    class="fixed top-4 right-4 px-6 py-3 rounded-lg shadow-lg transform translate-x-[400px] transition-transform duration-300 z-50"
  >
    <p id="toast-message" class="text-white"></p>
  </div>
</Layout>

<script src="@/script/contact-form.js"/>
