---
import AuthorCard from '@/components/AuthorCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllAuthors } from '@/lib/data-utils'

const authors = await getAllAuthors()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="authors" />
  <!-- <Breadcrumbs items={[{ label: 'Authors', icon: 'lucide:users' }]} /> -->
  <!-- {
    authors.length > 0 ? (
      <ul class="flex flex-col gap-4">
        {authors.map((author) => (
          <li>
            <AuthorCard author={author} />
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-muted-foreground text-center">No authors found.</p>
    )
  } -->

  <section>
    <div class="min-w-full">
      <!-- <h1 class="mb-1 text-2xl font-bold">Media</h1> -->
      <div class="prose mb-8">
        <p>
          I'm no multimedia artist, but I do enjoy creating, and simple editing
          as a hobby. Thought it would be better that some of my creations
          reside somewhere they could be seen.
        </p>
      </div>

      <div class="my-4 flex flex-col gap-y-4">
        <!-- {
            sortedPhotoCollections.length > 0 ? (
              <ul class="not-prose flex flex-col gap-y-4">
                {sortedPhotoCollections.map((collection) => (
                  <li>
                    <PhotoCollection collection={collection} />
                  </li>
                ))}
              </ul>
            ) : (
              <p class="flex h-64 items-center justify-center text-muted-foreground">
                No photos found.
              </p>
            )
          } -->
      </div>
    </div>
  </section>
</Layout>
