---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import PageHead from '@/components/PageHead.astro'
import PhotoCollection from '@/components/PhotoCollection.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const photoCollections = await getCollection('media')
// Sort collections by date (newest first)
const sortedPhotoCollections = photoCollections.sort((a, b) => {
  // Convert dates to timestamps or use 0 if date is invalid
  const dateA = a.data.date ? new Date(a.data.date).getTime() : 0
  const dateB = b.data.date ? new Date(b.data.date).getTime() : 0
  return dateB - dateA
})
---

<Layout>
  <PageHead slot="head" title="media" />
  <Container class="flex flex-col gap-y-6">
    <!-- <Breadcrumbs items={[{ label: 'Photos', icon: 'lucide:camera' }]} /> -->
    <section>
      <div class="min-w-full">
        <p class="prose mb-8">
          I'm no multimedia artist or photographer, but I do enjoy creating, simple editing, or taking pictures of places or events I have been as a hobby. Thought it would be better that some of these images
          reside somewhere they could be seen.
        </p>
        <div class="my-4 flex flex-col gap-y-4">
          {
            sortedPhotoCollections.length > 0 ? (
              <ul class="not-prose flex flex-col gap-y-4">
                {sortedPhotoCollections.map((collection) => (
                  <li>
                    <PhotoCollection collection={collection} />
                  </li>
                ))}
              </ul>
            ) : (
              <p class="text-muted-foreground flex h-64 items-center justify-center">
                No photos found.
              </p>
            )
          }
        </div>
      </div>
    </section>
  </Container>
</Layout>
